@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@using TCAdmin.SDK.Web.MVC.Extensions
@model TCAdminBackup.Configuration.GlobalBackupSettings

@{
    ViewBag.Title = "Global Backup Settings";
    Layout = this.GetTemplateFile("Shared/Main.cshtml", true);
}

@section sidebar{
    @Html.Partial("_DefaultSidebar")
}

<style>
    * {
      box-sizing: border-box;
    }
    
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    [class*="col-"] {
      float: left;
      padding: 15px;
    }
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
</style>

<div class="row">
    <div class="col-6">
        @using (Ajax.BeginForm(new AjaxOptions {OnSuccess = "TCAdmin.Ajax.ShowBasicDialog('Success', 'Successfully saved Backup Settings'); document.body.style.cursor = 'default';", OnFailure = "TCAdmin.Ajax.HandleAjaxFailure"}))
        {
            @Html.AntiForgeryToken()

            <div class="primary-toolbar">
                @(Html.Kendo().ToolBar()
                    .Name("ToolBar")
                    .Items(items =>
                    {
                        items.Add().Template(this.GetToolbarButton(Resources.Global.Save, "save"));
                        items.Add().Type(CommandType.Button).Icon("cancel").Text(Resources.Global.Cancel).Click("TCAdmin.Ajax.CancelClicked");
                    }))
            </div>
            <div class="primary-content">
                <fieldset class="fieldset-form auto-focus">
                    @Html.ValidationSummary(true)
                    <ul>
                        <li>
                            <dl>
                                <dt>@Html.LabelFor(m => m.S3Enabled)</dt>
                                <dd>@Html.Kendo().SwitchFor(m => m.S3Enabled)@Html.ValidationMessageFor(m => m.S3Enabled)@Html.TooltipFor(m => m.S3Enabled)</dd>
                                <dt>@Html.LabelFor(m => m.FtpEnabled)</dt>
                                <dd>@Html.Kendo().SwitchFor(m => m.FtpEnabled)@Html.ValidationMessageFor(m => m.FtpEnabled)@Html.TooltipFor(m => m.FtpEnabled)</dd>
                                <dt>@Html.LabelFor(m => m.LocalEnabled)</dt>
                                <dd>@Html.Kendo().SwitchFor(m => m.LocalEnabled)@Html.ValidationMessageFor(m => m.LocalEnabled)@Html.TooltipFor(m => m.LocalEnabled)</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>@Html.LabelFor(m => m.DefaultS3Capacity)</dt>
                                <dd>@(Html.Kendo().NumericTextBoxFor(m => m.DefaultS3Capacity).Decimals(0).Format("#").Spinners(false).Events(e => e.Change("NumericChange")))@Html.TooltipFor(m => m.DefaultS3Capacity)</dd>
                                <dt>@Html.LabelFor(m => m.DefaultFtpCapacity)</dt>
                                <dd>@(Html.Kendo().NumericTextBoxFor(m => m.DefaultFtpCapacity).Decimals(0).Format("#").Spinners(false).Events(e => e.Change("NumericChange")))@Html.TooltipFor(m => m.DefaultFtpCapacity)</dd>
                                <dt>@Html.LabelFor(m => m.DefaultLocalCapacity)</dt>
                                <dd>@(Html.Kendo().NumericTextBoxFor(m => m.DefaultLocalCapacity).Decimals(0).Format("#").Spinners(false).Events(e => e.Change("NumericChange")))@Html.TooltipFor(m => m.DefaultLocalCapacity)</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>@Html.LabelFor(m => m.LocalDirectory)</dt>
                                <dd>@Html.Kendo().TextBoxFor(m => m.LocalDirectory)@Html.ValidationMessageFor(m => m.LocalDirectory)@Html.TooltipFor(m => m.LocalDirectory)</dd>
                            </dl>
                        </li>
                    </ul>
                </fieldset>
            </div>
        }
    </div>
    <div class="col-6">
        <h3>What is x Backup Type?</h3>
        <ul>
            <li><strong>S3</strong> is a simple storage system hosted in the cloud by multiple providers. Compatible providers:</li>
            <ul>
                <li>
                    <a href="https://aws.amazon.com/s3/">Amazon Web Services</a>
                </li>
                <li>
                    <a href="https://min.io/">Minio</a>
                </li>
                <li>
                    <a href="https://www.backblaze.com/b2/cloud-storage.html">Backblaze B2</a>
                </li>
            </ul>
            <li><strong>FTP</strong> is a standard network protocol used for the transfer of computer files between a client and servers.</li>
            <li><strong>Local</strong> backups are stored locally to the service.</li>
        </ul>
        <h3>Adding File Servers</h3>
        <ul>
            <li>To add a File Server <a href="/Interface/Base/CreateFileServer">Click here</a></li>
            <li>To add a S3 Server prefix the "Name" with <strong>[S3]</strong></li>
            <li>To add a FTP Server prefix the "Name" with <strong>[FTP]</strong></li>
        </ul>
        <h3>WHMCS Support</h3>
        <ul>
            <li>First get to grips with <a href="https://help.tcadmin.com/TCAdmin2_advanced_module_for_WHMCS#Sending_Custom_Variable_Values">sending game variables from WHMCS</a></li>
            <li>To allow a game service 5gb of S3 storage put this in the default_values.php file: <code>$billing_api_values["gamevar_S3:LIMIT"] = "5000000000";</code></li>
            <li>To disable S3 storage of a game service put this in the default_values.php file: <code>$billing_api_values["gamevar_S3:LIMIT"] = "-1";</code></li>
        </ul>
    </div>
</div>

<script>    
    function NumericChange() {
        this.element.prev().removeAttr("title")
    }
</script>